@import "variables.less";
@import "mixins.less";
@import "http://fonts.googleapis.com/css?family=Crete+Round:400,400italic";
@import "http://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700";
@import "http://fonts.googleapis.com/css?family=Audiowide";

body {
	background: @color-body url(../img/bg-body.jpg) repeat top left;
	color: @color-dark;
}

.wrapper {
	margin-bottom: 20px;
	
	border: 1px solid @color-border-dark;
	border-top: none;
	background: @color-bg;
	
	.border-radius(0, 0, @border-radius, @border-radius);
	.box-shadow(~"0 0 8px rgba(0, 0, 0, .4)");
}

.nav-main {
	height: 80px;
	width: 100%;
	
	border-bottom: 1px solid darken(@color-border-light, 10%);
	
	.gradient(@color-gradient-light-top, @color-gradient-light-bottom);
	
	.brand {
		display: block;
		width: 322px;
		height: 75px;
		margin-right: @padding;
		float: right;
		
		background: transparent url(../img/img-bjga.png) no-repeat top left;
	}
	
	ul {
		margin: 0 0 0 @padding;
		padding: 15px 0 0 0;
		
		list-style: none;
		
		li {
			float: left;
			margin: 0 30px 0 0;
			
			a {
				display: block;
				padding: 5px;
	
				color: @color-green;
				font-weight: 600;
				font-size: 20px;
				font-family: @font-titillium;
				border: 1px solid transparent;
				text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
				
				div {
					font-size: 13px;
					font-weight: normal;
					text-transform: lowercase;
					font-variant: small-caps;
					color: @color-gray;
					font-family: @font-primary;
				}
				
				&:hover {
					text-decoration: none;
					color: @color-brightgreen;
					
					div {
						color: @color-darkgray;
					}
				}

				&.active {
					background: #dadada;
					border-color: #aaa;

					.rounded;
					.box-shadow(~"inset 0 1px 3px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 1)");

					border-color: #bbb;
					border-bottom-color: #aaa;

					.rounded(4px);
					.gradient(#fff, #eee);
					.box-shadow(~"0 1px 2px rgba(0, 0, 0, .15)");
				}
			}
		}
	}
}

header {
	height: 300px;
	width: 100%;
	
	background: @color-bg url(../img/bg-header.jpg) no-repeat center center;
	
	.overlay {
		padding-top: 40px;

		color: @color-white;
		font-family: @font-crete;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 1);

		.italic {
			font-style: italic;
		}
	}
}

.nav-sub {
	height: 40px;
	width: 100%;
	position: relative;
	
	border-top: 1px solid darken(@color-border-light, 20%);
	border-bottom: 1px solid @color-border-light;
	
	.gradient(@color-gradient-light-top, @color-gradient-light-bottom);
	
	ul {
		margin: 10px 0 0 @padding;
		padding: 0;
		position: relative;
		
		list-style: none;
		
		li {
			float: left;
			margin: 0 30px 0 0;
			position: relative;
			
			a {
				display: block;
	
				color: @color-gray;
				font-weight: 600;
				font-family: @font-titillium;
				text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
				
				&:hover {
					text-decoration: none;
					color: @color-darkgray;
				}
			}

			.arrow {
				position: absolute;
				width: 10px;
				height: 10px;
				bottom: -15px;
				left: 50%;
				margin-left: -6px;
				display: none;
				
				border-left: 1px solid @color-border-light;
				border-top: 1px solid @color-border-light;
				background: @color-bg;

				.rotate(45deg);
			}

			&.active {
				a {
					color: @color-dark;
				}

				.arrow {
					display: block;
				}
			}
		}
	}
	
	.social-icons {
		float: right;
		margin: 7px @padding 0 0;

		li {
			margin: 0 0 0 5px;

			a {
				height: 26px;
				width: 26px;

				background-color: transparent;
				background-repeat: no-repeat;
				background-position: 0 0;

				&.twitter-icon {
					background-image: url(../img/icn-twitter.png);
				}
				&.facebook-icon {
					background-image: url(../img/icn-facebook.png);
				}

				&:hover {
					background-position: 0 -26px;
				}
			}
		}
	}
}

section {
	line-height: @line-height;
	
	.inner {
		padding: 0 @padding @padding @padding;
	}
	
	h1 {
		font-family: @font-crete;
		color: @color-green;
	}
	h2, h3, h4 {
		font-family: @font-titillium;
		color: @color-darkgray;
	}
	h4 {
		margin: 12px 0;
	}

	a {
		color: @color-green;

		&:hover {
			color: @color-brightgreen;
		}
	}

	li {
		line-height: @line-height;
	}

	dl {
		dt {
			line-height: @line-height;

			font-family: @font-titillium;
		}

		dd {
			line-height: @line-height;
		}
	}
}

footer {
	line-height: @line-height;
	
	border-top: 1px solid @color-border-light;
	font-size: 13px;
	color: @color-gray;
	font-family: @font-titillium;
	
	.gradient(@color-gradient-light-top, @color-gradient-light-bottom);
	.border-radius(0, 0, @border-radius, @border-radius);
	
	a {
		color: @color-gray;
		
		&:hover {
			color: @color-darkgray;
		}
	}

	h1 {
		margin: 0;
		padding: 0;
		
		font-size: 16px;
		font-weight: 700;
		color: @color-gray;
	}
	
	.inner {
		padding: 0 @padding @padding @padding;
	}

	.map-pin {
		display: block;
		float: left;
		height: 18px;
		width: 18px;
		margin: 2px 5px 0 0;

		background: transparent url(../img/icn-map-pin.png) no-repeat top left;
	}
}

.btn {
	font-family: @font-titillium;
	font-weight: 600;

	color: @color-darkgray;

	&.btn-primary {
		color: @color-white;
		
		.gradient(@color-brightgreen, @color-green);

		&:hover {
			.gradient(darken(@color-brightgreen, 5%), darken(@color-green, 5%));
		}
	}

	&.btn-inverse {
		color: @color-white;
	}
}

form {
	.control-label {
		font-weight: 600;
		font-family: @font-titillium;
		color: @color-darkgray;
	}
}

.well {
	margin: 10px 0;
	padding: 10px 19px 15px 19px;

	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #c8c8c8;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #888;
	background: #f1f1f1;
	
	.box-shadow(~"inset 0 1px 2px #d1d1d1, 0 1px 0 rgba(255, 255, 255, 1)");
	.rounded;
	.background-clip;

	&.affix {
		top: 32px;
	}
}

blockquote {
	color: @color-gray;

	small {
		color: @color-darkgray;
		font-family: @font-crete;
		font-size: 18px;

		span {
			display: block;

			color: @color-gray;
			font-weight: 400;
			font-size: 14px;
			font-family: @font-titillium;
		}

		&:before {
			content: '';
		}
	}

	&.pull-right {
		small:after {
			content: '';
		}
	}

	.lead {
		font-family: @font-crete;
		color: @color-dark;

		em {
			color: @color-brightgreen;
			font-style: normal;
		}
	}
}

.primary {
	color: @color-green;
}

.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}
.img-rounded {
	.box-shadow(~"0 2px 4px rgba(0, 0, 0, .5)");
}
.inline-image {
	padding: 0 0 10px 15px;
}
.clear {
	clear: both;
}

.pinseeker {
	padding-left: 42px;

	font-family: "Audiowide";
	font-size: 32px;
	background: transparent url(../img/img-target.png) no-repeat center left;
}

.relationship-logo {
	text-align: center !important;
}

.navbar {
	.navbar-inner {
		padding-left: 0;
		padding-right: 0;
	}
}

.alert {
	font-family: @font-titillium;
	font-weight: 600;
	font-size: 16px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	color: @color-white;

	.box-shadow(~"inset 0 1px 0 rgba(255, 255, 255, .3)");
}
.alert-success {
	border-color: darken(@color-green, 10%);

	.gradient(@color-brightgreen, @color-green);
}
.alert-danger {
	border-color: darken(@color-red, 10%);

	.gradient(@color-brightred, @color-red);
}
.alert-info {
	border-color: darken(@color-blue, 10%);

	.gradient(@color-brightblue, @color-blue);
}

.span2 form {
	margin: 0;
}