@font-primary: helvetica, arial, sans-serif;
@font-crete: 'Crete Round';
@font-titillium: 'Titillium Web';
@font-georgia: georgia, times, serif;

@color-white: #fff;
@color-green: #45812b;
@color-brightgreen: #3cae0a;
@color-darkgreen: darken(@color-green, 10%);
@color-red: #ba1d1d;
@color-brightred: #e11010;
@color-blue: #1d55ba;
@color-brightblue: #107ce1;
@color-gray: #888;
@color-darkgray: #666;
@color-dark: #444;
@color-brown: #965732;

@color-bg: #fafafa;
@color-body: #d2d2d2;
@color-border-dark: #999;
@color-border-light: #cfcfcf;
@color-gradient-light-top: #f3f3f3;
@color-gradient-light-bottom: #e4e4e4;

@border-radius: 6px;
@line-height: 1.6;
@padding: 15px;